[package]
name = "unsafe-tools-canary"
description = "Runtime initialization checking for Rust types"
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true

[dependencies]
